html {
    background: black;
}

body {
    background-image: url('textures/white-texture.png');
    opacity: 0;
    overflow-x: auto;
    overflow-y: scroll;
    margin: 0;
    padding-bottom: 100px;
}

.container {
    margin-top: 20px;
}

#pdfLinks {
    width: 100%;
}

.pdfLink {
    padding: 10px;
}

.container-fluid {
    padding-top: 20px;
}

#contact-info {
    margin-top: -75px;
}

.row {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 30px;
}

ul>li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

ul.no-ticks {
    list-style-type: none !important;
}

ul.no-ticks>li:before {
    content: "";
}

a:hover {
    text-decoration: none;
}

a {
    color: #17A2B8;
}

#classes {
    width: 90%;
    font-size: 13px;
    padding: 5px;
    margin-left: 10px;
}

.btn-link:focus,
.btn-link:hover,
.btn-link:active {
    color: #17A2B8;
    text-decoration: none;
}

.btn-link {
    width: 100%;
    color: black;
}

.card-header {
    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
    background-color: #F9F9F9;
}

.card-header:hover {
    background-color: #FDFDFD;
}

.nameAndContact {
    width: fit-content;
    height: fit-content;
    margin-left: 30px;
    margin-top: -50px;
    min-width: 0;
}

.photo>img {
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

td {
    padding-right: 0px;
}

h1 {
    display: inline;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 4vw;
    font-weight: 300;
}

#contact {
    margin-left: 1px;
    position: fixed;
    color: #EEEEEE !important;
}

#contact a {
    transition: .2s;
    color: #EEEEEE;
}

#header-container a:hover {
    color: #17A2B8;
}

div {
    margin: 0;
    padding: 0;
}

.left {
    padding-right: 40px;
}

#contactAux {
    position: fixed;
    width: 100%;
    top: -40px;
    padding-right: 50px;
    padding-left: 50px;
    color: #DDDDDD;
}

.portfolio-2wide {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio-3wide {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skillsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
}

.skillsGridItem {}

.portfolio-item {
    padding: 5px;
    width: 100%;
}

.portfolio-item img {
    border-radius: 5px;
}

#contactAux a {
    transition: .2s;
    color: #DDDDDD
}

hr {
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    padding: 0;
}

.ani {
    margin-top: 30px;
}

#main {}

#mobile-header {
    position: relative;
    width: 100%;
    display: none !important;
}

#header-container {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0px;
    position: fixed;
    z-index: 2;
    background-image: url("textures/tweed.png");
}

#desktop-header {
    position: relative;
    right: 2%;
}

.skill-label {
    margin-bottom: 10px;
}

.skill-flex {
    margin-bottom: 10px;
    width: 100%;
}

.skill-flex>a {
    font-size: 14px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.btn-info {
    background-color: #333333;
    border-width: 0;
    outline: none;
}

.btn-info:hover {
    background-color: #17A2B8 !important;
}

@media only screen and (max-width: 400px) {
    #contact {
        font-size: 7px;
    }
    #contactAux {
        padding-top: 3px;
        font-size: 8px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 768px) {
    body {
        font-size: 11px;
    }
    .lead {
        margin-bottom: 5px;
    }
    #contact {
        font-size: 9px;
    }
    #contactAux {
        font-size: 10px;
        padding-right: 25px;
        padding-left: 25px;
    }
    .skill-flex>a {
        font-size: 11px;
    }
    #classes {
        font-size: 11px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
    #contact {
        font-size: 10px;
    }
    .skill-flex>a {
        font-size: 12px;
    }
    body {
        font-size: 12px;
    }
    #classes {
        font-size: 12px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    #contact {
        font-size: 12px;
    }
}